
.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    background: #000000;
    transition: 0.5s
}

.nav-item:hover::after {
    width: 100%
}

.nav-link {
    transition: 0.2s
}

#myNavbar {
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    transition: margin 0.5s, background 0.5s, border-radius 0.7s;
     -webkit-transition: margin 0.5s, background 0.5s, border-radius 0.5s;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}



