
.nav-item::after {
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    font-size: 1em !important;
    background: #000000;
    -webkit-transition: font-size 2s ease , width .5s ease !important;
    -moz-transition: font-size 2s ease, width .5s ease !important;
    -o-transition: font-size 2s ease , width .5s ease !important;
    transition: font-size 2s ease, width .5s ease !important;
}

.nav-item:hover::after {
    width: 100%; 
}

.nav-item:hover{
    font-size: 1.32em !important;
}

#myNavbar {
    border: 2px solid #1a1a1a;
    border-radius: 10px;
    transition: margin 0.5s, background 0.5s, border-radius 0.7s;
     -webkit-transition: margin 0.5s, background 0.5s, border-radius 0.5s;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

/* CSS */
.button-33 {
  background-color: #36454F;
  border-radius: 100px;
  box-shadow: rgba(100, 101, 100, 0.2) 0 -25px 18px -14px inset,rgba(92, 94, 93, 0.15) 0 1px 2px,rgba(57, 58, 57, 0.15) 0 2px 4px,rgba(56, 56, 56, 0.15) 0 4px 8px,rgba(52, 52, 52, 0.15) 0 8px 16px,rgba(52, 55, 53, 0.15) 0 16px 32px;
  color: rgb(255, 255, 255) !important;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none !important;
  
}

.button-33:hover {
  box-shadow: rgba(19, 19, 19, 0.35) 0 -25px 18px -14px inset,rgba(21, 22, 22, 0.25) 0 1px 2px,rgba(28, 29, 28, 0.25) 0 2px 4px,rgba(27, 28, 27, 0.25) 0 4px 8px,rgba(33, 33, 33, 0.25) 0 8px 16px,rgba(28, 28, 28, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}